<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SHOW TABLE DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
   <h3>SHOW TABLE DB</h3>
    <hr>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Email</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student:${listDB}">
        <td th:text="${student.firstName}" />
        <td th:text="${student.lastName}" />
        <td th:text="${student.email}" />
    </tr>
    </tbody>
</table>
</div>
</body>
</html>